    <footer class="site-footer border-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4">Navigations</h3>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="/cart/">Shopping cart</a></li>
                                <li><a href="/terminos/">Términos y condiciones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Acerca de nosotros</h3>
                        <ul class="list-unstyled">
                            <li class="address">51 Calle Hermano Día, Trántor</li>
                            <li class="phone"><a>+34 120 201 955</a></li>
                            <li class="email">AcademiaTerminus@cleon.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>