{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Productos{% endif %}
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Tienda</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <div class="row mb-5">
                    {% for product in products %}
                    <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.image.url}}" alt="Image placeholder" class="img-fluid" style="height: 10vw;">
                                </a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                <p class="text-primary font-weight-bold">{{ product.price }} €</p>
                                <hr>
                                <!-- LA LINEA DE ABAJO ES UNA MANERA DE HACER, EL BLOQUE DE DESPUES ES COMO ESTÁ EN LO DE LOS DETALLES DE UN CURSO-->
                                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Añadir</button>
                                <form action="{% url "cart:cart_add" product.id %}" method="post">
                                    {% csrf_token %}
                                    {{ cart_product_form|crispy }}
                                    <input type="submit" class="buy-now btn btn-sm btn-primary" style="background-color: #0088FF" value="Añadir">
                                  </form>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="row" data-aos="fade-up">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span style="background-color: #0088FF;">1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Categorias</h3>
                    <form method="get">
                        <ul class="list-unstyled mb-0">
                            {% for c in categories %}
                            <li>
                                <input type="checkbox" name="category" value="{{ c.slug }}" {% if category and category.slug == c.slug %}checked{% endif %}>
                                <label for="category">{{ c.name }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Duraciones</h3>
                        <ul class="list-unstyled mb-0">
                            {% for d in durations %}
                            <li>
                                <input type="checkbox" name="duration" value="{{ d.slug }}" {% if duration and duration.slug == d.slug %}checked{% endif %}>
                                <label for="duration">{{ d.name }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Precio</h3>
                        <a>Precio mínimo: </a>
                        <input type="range" name="min_price" min="0" max="2000" value="{{ request.GET.min_price|default:0 }}" step="10" oninput="this.nextElementSibling.value = this.value">
                        <output>{{ request.GET.min_price|default:0 }}</output>
                        <br>
                        <a>Precio máximo: </a>
                        <input type="range" name="max_price" min="0" max="2000" value="{{ request.GET.max_price|default:2000 }}" step="10" oninput="this.nextElementSibling.value = this.value">
                        <output>{{ request.GET.max_price|default:2000 }}</output>
                        <button type="submit" class="btn btn-primary mt-3" style="background-color: #0088FF;">Filtrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}