{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Productos{% endif %}
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Inicio</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Catálogo</strong></div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <form method="GET" action="{% url 'shop:product_list' %}">
                    <input type="text" name="q" placeholder="Buscar cursos" class="form-control mb-3" value="{{ request.GET.q }}">
                </form>
                <div class="row mb-5">
                    {% for product in products %}
                    <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.image.url}}" alt="Image placeholder" class="img-fluid" style="height: 10vw;">
                                </a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                <p class="text-primary font-weight-bold">{{ product.price }} €</p>
                                <hr>
                                {% if not product.available %}
                                    <p style="font-size:1rem; background-color:red;color:white;border-radius:5px">Agotado</p>
                                {% endif %}
                                {% if product.available %}
                                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1">
                                    <input type="hidden" name="update" value="False">
                                    <input type="submit" class="buy-now btn btn-sm btn-primary" style="background-color: #0088FF" value="Añadir al carrito">
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="row" data-aos="fade-up">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                {% if products.has_previous %}
                                <li><a href="?page={{ products.previous_page_number }}">&lt;</a></li>
                                {% endif %}
                                {% for num in products.paginator.page_range %}
                                    {% if products.number == num %}
                                        <li class="active" ><span style="background-color: #0088FF">{{ num }}</span></li>
                                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                <li><a href="?page={{ products.next_page_number }}">&gt;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                    <form method="get">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Duraciones</h3>
                        <ul class="list-unstyled mb-0">
                            {% for d in durations %}
                            <li>
                                <input type="checkbox" name="duration" value="{{ d.slug }}" {% if duration and duration.slug == d.slug %}checked{% endif %}>
                                <label for="duration">{{ d.name }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Precio</h3>
                        <a>Precio mínimo: </a>
                        <input type="range" name="min_price" min="0" max="2000" value="{{ request.GET.min_price|default:100 }}" step="10" oninput="this.nextElementSibling.value = this.value">
                        <output>{{ request.GET.min_price|default:100 }}</output>
                        <br>
                        <a>Precio máximo: </a>
                        <input type="range" name="max_price" min="0" max="2000" value="{{ request.GET.max_price|default:2000 }}" step="10" oninput="this.nextElementSibling.value = this.value">
                        <output>{{ request.GET.max_price|default:2000 }}</output>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3" style="background-color: #0088FF;">Filtrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}