{% extends "admin/base_site.html" %}



{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Mi Sitio Admin Personalizado</a></h1>
{% endblock %}

{% block extrastyle %}
    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
        <div class="site-logo">
            <a href="/" class="js-logo-clone">
                <img src="/media/products/2024/11/logo/logo.png" alt="Academia Terminus" style="max-height: 30px;">
            </a>
        </div>
    </div>
{% endblock %}
